.whatIsDCM{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: lightblue;
    padding: 2rem 8%;
}
.whatIsDCM-heading{
    font-size: 4rem;
    font-weight: 700;
    color: #fff;
    margin-bottom: 1rem;
    width: 100%;
    
}
.whatIsDCM-text{
    display: flex;
    flex-direction: column;
    font-size: 1.2rem;
    font-weight: 400;
    color: lightblue;
    background-color: #fff;
    width: 90%;
    padding: 3rem;
    border-radius: 10px;
    gap: 15px;
}
.whatIsDCM-text ol{
    padding-left: 3rem;
}
